@use "../root/var"as *;

.about-me-container {
    padding: 2rem 14vw 0 14vw;
}

.about-me-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 90%;
}

.about-me-description {
    line-height: 1.4rem;
    font-size: 1.1vw;
    letter-spacing: .6px;
    padding-top: 2rem;
    margin-right: -2rem;
}

#myCanvas {
    width: 90%;
    display: block;
    margin-left: auto;
}

@media only screen and (max-width: $bp-xl) {
    .about-me-description {
        line-height: 1rem;
        font-size: $display-2;
        letter-spacing: .4px;
        padding-right: 0rem;
        padding-top: 2rem;
    }
}

@media only screen and (max-width: $bp-lg) {
    .about-me-container {
        margin: 0;
    }

    .about-me-content {
        flex-direction: column;
    }

    .about-me-description {
        margin-bottom: 0;
        padding: 0 6vw;
        line-height: 1.4rem;

        & p {
            font-size: $display-3;
            text-align: center;
        }
    }

    #myCanvas {
        width: 100%;
        margin: auto;
    }
}

@media only screen and (max-width: $bp-md) {
    .about-me-description {
        margin-bottom: 0;

        & p {
            font-size: $display-2;
            text-align: center;
        }
    }
}

@media only screen and (max-width: $bp-sm) {
    .about-me-description {
        margin: 0;
        padding: 0;

        & p {
            font-size: $display-1;
            text-align: center;
        }
    }

    #myCanvas {
        margin-top: 2rem;
    }
}