@use "../root/var"as *;

.beer-section{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

video{
    width: 60%;
    height: 40%; 
}

.beer-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: $bp-sm) {
    video{
        width: 95%;
        height: 50%; 
    }
}