@use "../root/breakpoints"as *;
@use "../root/colors"as *;
@use "../root/fonts"as *;



*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Alegreya', serif;
    background-color: $background;
    overflow-x: hidden; //try to delete scrollbar
    padding-top: $nav-height;
    color: $black;

    &.dark {
        background-color: #292c35;
        color: white;
    }
}


h2 {
    text-align: center;
    font-size: 4vw;
    margin-bottom: 1rem;
    color: #bdb2ff;
    font-family: $title-font;

    @media only screen and (max-width: $bp-xl) {
        font-size: $display-7;
    }
}







// switch buttons style on changing theme

.btn-clear {
    background-color: $background-alt;
    border: 1px solid #9b5468;
    color: #9b5468;

    &:hover,
    &:active {
        background-color: #9b5468;
        /* 
        color: $background; */
    }
}

.btn-dark {
    background-color: $black;
    border: 1px solid #0173F7;
    color: #0173F7;

    &:hover,
    &:active {
        background-color: #0173F7;
    }
}


// switch card background on changing theme

.card-clear {
    background-color: $background-alt;
}

.card-dark {
    background-color: black;
}

// switch text inputs style on changing theme

.input-clear {
    background-color: $background-alt;
    border: .8px solid $sect-2;
}

.input-dark {
    background-color: black;
    border: .8px solid $blue;
}

// switch highlighted font color on changing theme

.font-alt-clear {
    color: $sect-2;
}

.font-alt-dark {
    color: $blue;
}

//title and h2 colors

.title-clear{
    color: $blue;
}

.title-dark{
    color: $sect-2;
}