@use "../root/var"as *;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Alegreya', serif;
    background-color: $main-clear;
    overflow-x: hidden;
    padding-top: $nav-height;
    color: $black;

    &.dark {
        background-color: $main-dark;
        color: $white;
    }
}

h2 {
    text-align: center;
    font-size: 4vw;
    margin-bottom: 1rem;
    font-family: $title-font;

    @media only screen and (max-width: $bp-xl) {
        font-size: $display-7;
    }
}

// switch buttons style on changing theme
.btn-clear {
    background-color: $alt-clear;
    border: 1px solid $th-clear;
    color: $th-clear;

    &:hover{
        background-color: $th-clear;
    }
}

.btn-dark {
    background-color: $black;
    border: 1px solid $th-dark;
    color: $th-dark;

    &:hover{
        background-color: $th-dark;
    }
}

// switch card background on changing theme
.card-clear {
    background-color: $alt-clear;
}

.card-dark {
    background-color: $black;
}

// switch text inputs style on changing theme
.input-clear {
    background-color: $alt-clear;
    border: .8px solid $prim-clear;
}

.input-dark {
    background-color: $black;
    border: .8px solid $prim-dark;
}

// switch highlighted font color on changing theme
.font-alt-clear {
    color: $prim-clear;
}

.font-alt-dark {
    color: $prim-dark;
}

//title and h2 colors
.title-clear{
    color: $prim-dark;
}

.title-dark{
    color: $prim-clear;
}