@use "../root/var"as *;

.contact-container {
    padding: 2rem 14vw 0 14vw;

    & h2 {
        margin-bottom: 4rem;
    }
}

.contact-form {
    display: flex;
    flex-direction: column;

    & input,
    & textarea {
        padding: 6px;
        margin: 10px;
        font-size: $display-3;
        font-family: $alegreya;
        color: $black;

        &::placeholder {
            color: #999d99;
        }
    }
}

.form-clear{
    & input,
    & textarea{
        &:focus{
            outline: none !important;
            border: 1px solid $prim-clear !important;
            box-shadow: 0 0 10px $prim-clear;
        }
    }
}

.form-dark{
    & input,
    & textarea{
        &:focus{
            outline: none !important;
            border: 1px solid $prim-dark !important;
            box-shadow: 0 0 10px $prim-dark;
        }
    }
}

.form-header {
    display: flex;

    & input {
        width: 100%;
    }
}

.submit {
    margin: 10px;
}

.form-text {
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: $bp-md) {
    .contact-container {
        padding: 2rem 10vw 0 10vw;
    }
    .contact-form {

        & input,
        & textarea {
            padding: 2px;
            font-size: $display-1;
        }

        &::placeholder {
            color: $shade;
            font-size: $display-1;
        }
    }

    .form-header {
        flex-direction: column;

        & input {
            width: auto;
        }
    }
}