@use "../root/var"as *;

.mb-menu {
    display: flex;
    margin-left: auto;
}

.mb-flagdark {
    display: flex;
}

//switcher dark/clear mode on nav
.checkbox {
    opacity: 0;
    position: absolute;
}

.label {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-right: 1.5rem;
    border-radius: 50px;
    padding: 6px;
    height: 26px;
    width: 50px;
    cursor: pointer;
}

.ball {
    background-color: $white;
    border-radius: 50%;
    position: absolute;
    top: 4px;
    left: 5px;
    width: 18px;
    height: 18px;
    transition: transform .2s linear;
}

.checkbox:checked+.label>.ball {
    transform: translateX(22.5px);
}

.fa-moon {
    color: #f1c40f;
}

.fa-sun {
    color: #f39c12;
}

//navbar
.navbar {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 5;
    width: 100%;
    height: $nav-height;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    align-items: center;
    list-style: none;
    counter-reset: item-counter;
    margin-right: 22px;

    &__flags {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-right: 1.6rem;
        height: 100%;

        .flag {
            width: 36px;
            cursor: pointer;
            transition: transform 0.1s linear;
        }

        .hidden {
            display: none;
        }
    }

    & li>a {
        display: inline-block;
        padding: 10px 16px;
        text-decoration: none;
        position: relative;
        font-size: $display-2;
        font-weight: $fw-bold;
        color: inherit;

        &:-webkit-any-link {
            cursor: auto;
        }

        &::before {
            counter-increment: item-counter;
            content: "0"counter(item-counter) ".";
            margin-left: -15px;
            text-align: right;
        }

        & span {
            color: inherit;
            padding-left: 4px;
            cursor: pointer;
            transition: all .1s ease-in;

            &:active {
                color: $prim-clear;
            }
        }
    }
}

//toggle nav style on theme switch
.nav-clear{
    border-bottom: 1px solid $th-clear;
    background-color: $main-clear;
}

.nav-dark{
    border-bottom: 1px solid $th-dark;
    background-color: $main-dark;
}

//toggle on list style pseudo elements
.item-clear {
    & span:hover {
        color: $th-clear;
    }
    &::before{
        color: $th-clear;
    }
}

.item-dark{
    & span:hover{
        color: $th-dark;
    }

    &::before {
    color: $th-dark;
}
}

//hide navbar on scroll down
.nav--hidden {
    transform: translateY(calc(-1 * $nav-height));
}

//logo
.mylogo {
    font-family: $logo-font;
    font-size: $display-7;
    text-decoration: none;
    color: $black;
    margin: auto auto auto 30px;
    cursor: pointer;
    transition: all .1s ease-in;
    z-index: 1;
    display: flex;
}

.logo-img {
    width: 40px;
    z-index: 1;
}

@media only screen and (max-width: $bp-md) {
    .menu-btn {
        display: flex;
    }

    .nav-links {
        left: 100%;
        width: 100vw;
        height: 100vh;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 50px 0 200px 0;
        position: absolute;
        transition: left .5s ease-in-out;
        top: 70px;
        
        & li {
            margin: .7rem;
        }
        
        & li>a {
            font-size: $display-4;
            text-transform: uppercase;
            
            &::before {
                content: none;
            }
            
            & span {
                padding-left: 0;
            }
        }
        
        &.active {
            left: 0;
        }
    }

    .links-clear{
        background-color: $alter-clear;
    }

    .links-dark{
        background-color: $main-dark;
    }
}

@media only screen and (max-width: $bp-sm) {
    .mylogo {
        margin-left: 25px;
    }
}

@media (hover: hover) {
    .mylogo:hover {
        color: $prim-clear;
    }
}