@use "../root/var"as *;

.home-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -55px;
}

.main {
    padding: 6rem;
    display: flex;
    flex-direction: column;
}

//corner margin box for main content
.box {
  position: relative;

  &::before, &::after {
      content: '';
      display: block;
      position: absolute;
    }
    
    &::before {
        top: -0.3em;
        bottom: -0.3em;
        left: 1em;
        right: 1em;
    }
    
    &::after{
        left: -0.3em;
        right: -0.3em;
        top: 1em;
        bottom: 1em;
    }
}

//dark-clear mode
.box-clear{
    border: 1.9px solid $th-clear;
    &::before, &::after {
        background: $main-clear;
    }
}

.box-dark{
    border: 1.9px solid $th-dark;
    &::before, &::after {
        background: $main-dark;
    }
}

//content
.headline{
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.greet {
    padding-right: 12px;
    font-style: italic;
    position: relative;
    overflow: hidden;
    animation: appear 2s;
    animation-delay: .2s;
    animation-fill-mode: backwards;
    white-space: nowrap;
    z-index: 1;
}

.title {
    font-size: $display-10;
    font-family: $title-font;
    letter-spacing: .5px;
    margin-top: -2rem;
    overflow: hidden;
    animation: appear 2s;
    animation-delay: .2s;
    animation-fill-mode: backwards;
    white-space: nowrap;
    z-index: 1;

    & span{
        font-size: $display-5;
    }
}

.subtitle-xl {
    font-size: $display-4;
    letter-spacing: 1px;
    font-weight: $fw-thin;
    margin-top: -1rem;
    text-align: center;
    position: relative;
    overflow: hidden;
    animation: appear 2s;
    animation-delay: .2s;
    animation-fill-mode: backwards;
    white-space: nowrap;
    z-index: 1;

}

.subtitle-sm{
    font-size: $display-4;
    letter-spacing: 1px;
    font-weight: $fw-thin;
    text-align: center;
    position: relative;
    overflow: hidden;
    animation: appear 2s;
    animation-delay: .2s;
    animation-fill-mode: backwards;
    white-space: nowrap;
    z-index: 1;
    display: none;

    text-align: center;
    font-size: $display-1;
    letter-spacing: 0;
    padding-top: -.5rem;
}

@media only screen and (max-width: $bp-xl) {
    .box{
        border: none;

        &::before, &::after {
            display: none;
          }
    }
}

@media only screen and (max-width: $bp-lg) {
    .main{
        padding: 0rem;
    }

    .greet{
        font-size: $display-2;
    }

    .title{
        font-size: $display-9;
    }

    .subtitle-xl{
        font-size: $display-3;
        letter-spacing: .8px;
    }
}

@media only screen and (max-width: $bp-md) {
    .greet{
        font-size: $display-1;
    }

    .title{
        font-size: $display-8;
    }

    .subtitle-xl{
        font-size: $display-1;
        letter-spacing: .6px;
        padding-top: .5rem;
    }
}

@media only screen and (max-width: $bp-sm) {
    .greet{
        display: none;
    }

    .subtitle-xl{
        display: none;
    }

    .subtitle-sm{
        display: block;
    }
}



