@use "../root/var"as *;

.projects-container {
  width: 100vw;
  margin-top: 4rem;
  padding: 2rem 10vw 0 10vw;

  & h2 {
    margin-bottom: 4rem;
  }

  & .gallery {
    display: grid;
    gap: 3rem;
    grid-auto-rows: auto;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }
}

h1 {
  font-size: 2.2em;
}

// project cards
.card {
  position: relative;
  width: 24vw;

  >.front,
  >.back {
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-duration: 1.5s;
    transition-property: transform, opacity;
    color: inherit;
    width: inherit;
    background-size: cover !important;
    background-position: center !important;
    height: calc(22vw * .67);
    padding: .8em 1.6em;
  }

  >.front {
    transform: rotateY(0deg);
  }

  >.back {
    position: absolute;
    opacity: 0;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    transform: rotateY(-180deg);
  }

  .card-title {
    font-size: 2vw;
    text-align: center;
  }

  .card-desc {
    display: flex;
    height: 80%;
  }

  & ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-top: 6px;
    font-size: 1.2vw;
    height: min-content;


    & li {
      margin: 2px 3px;
      padding: 1px 3px;
      border-radius: 3px;
    }
  }

  .project-btn-margin {
    margin-top: 3px;
    display: flex;
    justify-content: end;
    align-items: end;
    margin-top: auto;
    margin-bottom: 10px;
    height: min-content;
  }

  &:hover {
    >.front {
      transform: rotateY(180deg);
    }

    >.back {
      opacity: 1;
      transform: rotateY(0deg);
    }
  }

  &.flip-vertical {
    >.back {
      transform: rotateX(-180deg);
    }

    &:hover {
      >.front {
        transform: rotateX(180deg);
      }

      >.back {
        transform: rotateX(0deg);
      }
    }
  }
}

//clear-dark mode on cards
.card-clear {
  background-color: $sec-clear;
  border: .1px solid $th-clear;
}

.card-dark {
  background-color: $main-dark;
  border: 1px solid $th-dark;
}

.card-list-clear>li {
  border: .1px solid $th-clear;
  background-color: $alter-clear;
}

.card-list-dark>li {
  border: .1px solid $th-dark;
  background-color: rgb(60, 60, 60);
}

@media only screen and (max-width: $bp-xl) {
  .gallery {
    grid-template-columns: repeat(2, 1fr) !important;
  }

  .projects-container {
    padding: 2rem 14vw 0 14vw;
  }

  .card {
    width: 32vw;

    >.front,
    >.back {
      height: calc(30vw * .65);
    }

    .card-title {
      font-size: $display-5;
    }

    & ul {
      margin-top: 12px;
      font-size: $display-3;
    }
  }

}

@media only screen and (max-width: $bp-lg) {
  .card {

    .card-title {
      margin-top: -5px;
      font-size: $display-4;
    }

    & ul {
      margin-top: 6px;
      font-size: 1.6vw;
    }
  }
}

@media only screen and (max-width: $bp-md) {
  .gallery {
    grid-template-columns: repeat(1, 1fr) !important;
  }

  .card {
    width: 70vw;

    >.front,
    >.back {
      height: calc(70vw * .61);
    }

    .card-title {
      margin-top: 0;
      font-size: 5vw;
    }

    & ul {
      margin-top: 20px;
      font-size: 3vw;
    }
  }
}

@media only screen and (max-width: $bp-sm) {
  .projects-container {
    padding: 2rem 10vw 0 10vw;
  }

  .card {
    width: 80vw;

    >.front,
    >.back {
      height: calc(80vw * .61);
      padding: 1em .5em;
    }

    .card-title {
      font-size: 6vw;
    }

    & ul {
      margin-top: 14px;
      font-size: 4vw;
    }
  }
}

//modals
.overlay {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(144, 148, 150, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 100;
  animation: appear .5s ease-in-out;

  &.active {
    display: flex;
  }
}

.modal-content {
  width: 90%;
  max-width: 50rem;
  height: 35rem;
  padding: 20px;
  border-radius: 8px;
  text-align: center;

  & .modal-title {
    text-align: center;
    font-size: $display-6;
    font-family: $title-font;
    margin-bottom: 1rem;
    margin-top: 2rem;
  }

  & h3 {
    margin: 0 1rem;
  }

  & ul {
    margin: 20px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: $display-3;

    &.list-3>li {
      padding: 3px 0;
    }

    &.list-2>li {
      padding: 2px 0;
    }

    & .list-1>li {
      padding: 1px 0;
    }
  }
}

.modal-buttons {
  display: flex;
  justify-content: space-evenly;
  margin: 0 15rem;
}

//boton modal
.modal-btn-web-clear {
  background-color: $alt-clear;
  border: 1px solid $web-btn-clear;
  color: $web-btn-clear;

  &:hover {
    background-color: $web-btn-clear;
  }
}

.modal-btn-web-dark {
  background-color: $black;
  border: 1px solid $web-btn-dark;
  color: $web-btn-dark;

  &:hover {
    background-color: $web-btn-dark;
  }
}

.modal-btn-code-clear {
  background-color: $alt-clear;
  border: 1px solid $code-btn-clear;
  color: $code-btn-clear;

  &:hover {
    background-color: $code-btn-clear;
  }
}

.modal-btn-code-dark {
  background-color: $black;
  border: 1px solid $code-btn-dark;
  color: $code-btn-dark;

  &:hover {
    background-color: $code-btn-dark;
  }
}

.btn-cerrar {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: end;
}

//modal clear-dark mode
.modal-clear {
  background-color: $alt-clear;
}

.modal-dark {
  background-color: #000;
  color: white;
}

//portfolio card to change on theme switch
.portfolio-card-clear {
  background-image: url(/img/projects/portfolio-captura2.PNG);
}

.portfolio-card-dark {
  background-image: url(/img/projects/portfolio-captura1.PNG);
}

@media only screen and (max-width: $bp-lg) {
  .modal-content {
    width: 90%;
    height: 80%;

    & .modal-title {
      margin-top: .2rem;
    }

    & h3 {
      font-size: $display-2;
      margin-bottom: 1.5rem;
    }

    & ul {
      margin: 0px;
      font-size: $display-1;
    }
  }

  .modal-buttons {
    display: flex;
    justify-content: space-evenly;
    margin: 2rem 0 0 0;
  }
}


//to fix card hover on safari