@use "../root/var"as *;

.main-ty{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & img{
        width: 100px;
    }

    & h1{
        font-size: $display-9;
        margin-bottom: -.7rem;
        margin-top: 1rem;
    }
}

.footer-ty {
    display: block;
    position: fixed;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);

    & ol {
        list-style: none;
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    & img {
        width: 16px;
    }
}

.credits-ty{
    position: fixed;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);    
}