$oxford-blue: #0a192f;
$oxford-blue-2: #172a46;
$space-cadet: #233554;
$metallic-seaweed: #087e8b;
$aquamarine: #64fcda;
$shadow-blue: #77809a;
$cool-grey: #8892b0;
$wild-blue-yonder: #a8b2d1;
$periwinkle-crayola: #c4ceed;
$alice-blue: #e6f1ff;
$black: black;
$dark-grey: #202020;
$white: white;
$a:#05646E;
//Shadows
$shadow: 0rem 0.2rem 0.5rem rgba($black, 0.4);
$shadow-alt: 0rem 0.6rem 0.8rem rgba($black, 0.6);

//background


$background: rgb(255, 245, 245);//#fefeff;//#fefae0
$background-alt: #fffbff; //#fcf4d7;
$background-sec: rgb(242, 222, 222);
$background-th: rgb(249, 234, 234);
$sect-1: #8888e8;
$sect-2: #e888a3;
$sect-3: #f7df6c;
$sect-4: #8de698;
$text: #d4a373;


$blue: #1DB3E7;


//azulito #1DB3E7
//azul #0173F7
//magenta #C13588