$alice-blue: #e6f1ff; //footer
$black: black;
$dark-grey: #202020; //boxshadow buttons
$white: white;


$background: rgb(255, 245, 245);//#fefeff;//#fefae0
$background-alt: #fffbff; //#fcf4d7;
$background-sec: rgb(242, 222, 222);
$background-th: rgb(249, 234, 234);
$sect-2: #e888a3;
$sect-2b: #9b5468;
$text: #d4a373;


$blue: #1DB3E7;
