//Font family
@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Bree+Serif&family=Dancing+Script&family=Orbitron&family=Ruthie&display=swap');

$logo-font: 'Ruthie', cursive;
$orbitron: 'Orbitron', sans-serif;
$alegreya: 'Alegreya', serif;
$title-font: 'Dancing Script', cursive;
$header-font: 'Bree Serif', serif;

//Font size
$display-1: 10.5px;
$display-1-2: 11px;
$display-2: 14px;
$display-3: 16px;
$display-4: 20px;
$display-5: 25px;
$display-6: 36px;
$display-7: 42px;
$display-8: 50px;
$display-8-9: 80px;
$display-9: 100px;

//Font weight
$fw-thin: 300;
$fw-medium: 400;
$fw-bold: 650;
$fw-bold-alt: 900;

