@use "../root/var"as *;

//header button <Contact me>
.btn-home {
    cursor: pointer;
    transition: all .3s ease-in-out;
    margin: 4rem auto 2rem auto;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1vh 3.4vw;
    font-size: $display-5;
    font-weight: $fw-bold-alt;
    border-radius: 2px;
    letter-spacing: .2rem;
    z-index: 1;
    overflow: hidden;

    animation: zoomIn 2s;
    animation-delay: .4s;
    animation-fill-mode: backwards;
    white-space: nowrap;

    &:hover {
        color: $white;
        transform: scale(1.1);
    }

    @media only screen and (max-width: $bp-md) {
        font-size: $display-5;
    }

    @media only screen and (max-width: $bp-sm) {
        font-size: $display-4;
    }
}

//animated "burger" button on mobile nav menu
.menu-btn {
    display: none;
    cursor: pointer;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: auto 20px auto auto;
    transition: all .5s ease-in-out;

    &__burger {
        width: 30px;
        height: 4px;
        background: $black;
        border-radius: 5px;
        transition: all .5s ease-in-out;

        &::before,
        &::after {
            content: '';
            position: absolute;
            width: 30px;
            height: 4px;
            background: $black;
            border-radius: 5px;
            transition: all .5s ease-in-out;
        }

        &::before {
            transform: translateY(-9px);
        }

        &::after {
            transform: translateY(9px);
        }
    }

    //animation
    &.active>&__burger {
        background: transparent;
        box-shadow: none;
    }

    &.active>&__burger::before {
        transform: rotate(45deg);
    }

    &.active>&__burger::after {
        transform: rotate(-45deg);
    }

}

@media only screen and (max-width: 768px) {
    .menu-btn {
        display: flex;
    }
}

//submit button en formulario, seccion "contact me"
.btn-form {
    border: 1.5px solid $prim-clear;
    width: 100%;
    font-size: $display-2;
    padding: 8px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    font-weight: $fw-bold;

    &:hover{
        background-color: $prim-clear;
        color: $white;
    }
}

@media only screen and (max-width: 768px) {
    .btn-form{
        padding: 4px;
    }
}

//boton en cards de proyectos "ver mas"
.btn-project {
    cursor: pointer;
    transition: all .3s ease-in-out;
    text-decoration: none;
    padding: 6px;
    font-size: $display-3;
    font-weight: $fw-bold-alt;
    border-radius: 3px;

    &:hover{
        color: $white;
    }

    @media only screen and (max-width: $bp-md) {
        font-size: $display-5;
    }

    @media only screen and (max-width: $bp-sm) {
        font-size: $display-4;
    }
}

//"thank you" button on "thankyou.html" page
.btn-ty {
    border: 1px solid $prim-clear;
    color: $prim-clear;
    cursor: pointer;
    transition: all .3s ease-in-out;
    background-color: $alt-clear;

    &:hover{
        background-color: $prim-clear;
        color: $white;
    }

    margin: 2rem auto;
    text-decoration: none;
    padding: 4px 24px;
    font-size: $display-4;
    border-radius: 2px;
    letter-spacing: .2rem;


    @media only screen and (max-width: $bp-md) {
        font-size: $display-5;
    }

    @media only screen and (max-width: $bp-sm) {
        font-size: $display-4;
    }
}