@use "../root/breakpoints" as *;
@use "../root/colors" as *;
@use "../root/fonts" as *;




/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
/*   ::-webkit-scrollbar-track {
    background: $background;
  } */
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $scroll;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $text;
  }

  
