@use "../root/var"as *;

// width
::-webkit-scrollbar {
  width: 8px;
}

// handle
::-webkit-scrollbar-thumb {
  background: $prim-clear;
}

// handle on hover
::-webkit-scrollbar-thumb:hover {
  background: $th-clear;
}