@use "../root/var"as *;

// width
::-webkit-scrollbar {
  width: 8px;
}

// handle
::-webkit-scrollbar-thumb {
  background: lightgrey;
}

// handle on hover
::-webkit-scrollbar-thumb:hover {
  background: rgb(106, 106, 106);
}